/* Body Style */

.bodyWrapper {
  margin-top: 75px;
}

#appName {
  font-size: 55px;
  font-family: 'Roboto Slab', serif;
  color: #333;
}

#desc {
  font-size: 23px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.shortenForm {
  text-align: center;
}
