/* Body Style */

body {
  background-color: #a1a0dd;
}

.bodyWrapper {
  margin-top: 75px;
}

#appName {
  font-size: 65px;
  font-family: 'Roboto Slab', serif;
  color: #fff;
}

#link {
  color: #c6d8ea;
}

.linkInfo {
  margin-top: 75px;
  text-align: center;
}

.linkInfoText {
  font-size: 25px;
  color: #fff;
}

#visitCount {
  margin-top: 75px;
}

#homeButton {
  background-color: #a0bedd;
  border: 1px solid #a0bedd;
  color: #fff;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
}
