/* Body Style */

body {
  background-color: #a1a0dd;
}

.bodyWrapper {
  margin-top: 75px;
}

#appName {
  font-size: 65px;
  font-family: 'Roboto Slab', serif;
  color: #fff;
}

#link {
  color: #c6d8ea;
}

.linkInfo {
  margin-top: 75px;
}

.linkInfoText {
  font-size: 25px;
  color: #fff;
}

#visitCount {
  margin-top: 75px;
}
